.lockIcon-3t6Ow0, .isEnabled-20V6lG{
    color: var(--brand-experiment-80a) !important;
    .desaturate-_Twf3u{
        color: var(--accent-color) !important;
    }
}
.radioBar-3w9XY-{
    .text-md-medium-2avxhQ{
        color: var(--channels-default);
    }
    .text-sm-normal-3Zj3Iv{
        color: var(--channels-default);
    }
}
.checked-25WXMf{
    color: var(--accent-color) !important;
    background-color: var(--accent-color) !important;
    .slider-32CRPX > svg > path{
        fill: var(--background-primary);
    }

}
.bd-switch-checked{
    .bd-switch-body{
        color: var(--accent-color) !important;
        background-color: var(--accent-color) !important;
        .bd-switch-slider > svg > path{
            fill: var(--background-primary);
        }

    }
}
.bd-button{
    background-color: var(--accent-color);
    color: var(--background-primary);
}
.bd-view-button.selected{
    background-color: var(--accent-color) !important;
    svg{
        fill: var(--background-primary);
    }
}
.speaking-2Crrvt{
    background-color: var(--accent-color) !important;
}
.bar-1Bhnl9{
    background-color: (--brand-experiment-500) !important;
    .barFill-2Bh7CX{
        background-color: (--brand-experiment-400) !important;
    }
}
.markValue-2U_-UG{
    --text-positive: var(--brand-experiment-80a)
}
.key-N5VmHN{
    background-color: var(--accent-color);
    box-shadow: inset 0 -4px 0 var(--brand-experiment-400) !important;
    color: var(--background-primary) !important;
    .bindArrow-EmK4SC > *{
        fill: var(--background-primary) !important;
    }
}
.divider-_0um2u, .separator-2wx7h6{
    border-color: var(--accent-color);
    outline-color: var(--accent-color);
    background-color: var(--accent-color);
}
.fa-wrench{
    color: var(--accent-color);
}
.powercord-toast{
    --toast-background: var(--background-primary);
    --toast-header: var(--background-tertiary);
    --toast-contents: var(--background-secondary);
    .inner{
        border-color: var(--background-accent) !important;
    }
    .header{
        color: var(--channels-default) !important;
    }
}