/* ---- Discord Variables ---- */
.theme-light {
  --accent-yellow: #ffc800;
  --accent-green: hsl(47, 100%, 50%);
  --button-positive-background: hsl(47, 100%, 50%);
  --button-positive-background-hover: hsl(47, 100%, 50%);
  --button-outline-danger-text: var(--channels-default);
  --header-primary: var(--text-normal);
  --header-secondary: var(--text-muted);
  --text-normal: hsl(229, 18%, 80%);
  --text-muted: hsl(215, 8%, 70%);
  --text-positive: hsl(47, 50, 50%) !important;
  --text-warning: hsl(47, 50, 50%) !important;
  --text-danger: hsl(47, 50, 50%) !important;
  --text-link: hsl(47, 50, 50%) !important;
  --info-positive-background: hsla(47, 100%, 50%, 0.7) !important;
  --info-positive-foreground: var(--text-positive);
  --info-warning-background: hsla(47, 100%, 50%, 0.7) !important;
  --info-warning-foreground: var(--text-warning);
  --info-danger-background: hsla(47, 100%, 50%, 0.7) !important;
  --info-danger-foreground: var(--text-danger);
  --status-positive-background: var(--info-positive-background);
  --status-warning-background: var(--info-warning-background);
  --status-danger-background: var(--info-danger-background);
  --status-positive: #B7FE00;
  --status-warning: #FFC800;
  --status-danger: #FF4800;
  --button-positive-background: var(--status-positive);
  --button-warning-background: var(--status-warning);
  --button-danger-background: var(--status-danger);
  --button-outline-positive-background-hover: var(--status-positive);
  --button-outline-warning-background-hover: var(--status-warning);
  --button-outline-danger-background-hover: var(--status-danger);
  --interactive-normal: hsl(229, 14%, 70%);
  --interactive-hover: hsl(229, 14%, 75%);
  --interactive-active: #fec600;
  --interactive-muted: hsl(215, 8%, 59%);
  --channels-default: hsl(214, 37%, 75%);
  --background-primary: hsl(222, 10%, 30%);
  --background-secondary: hsl(222, 10%, 26%);
  --background-secondary-alt: hsl(222, 10%, 24%);
  --background-tertiary: hsl(222, 10%, 22%);
  --background-accent: hsl(222, 10%, 20%);
  --background-floating: hsl(222, 10%, 18%);
  --background-modifier-hover: #212331c0;
  --background-modifier-active: #282a3680;
  --background-modifier-selected: #24263171;
  --background-modifier-accent: hsl(222, 10%, 22%);
  --background-mentioned: hsla(47, 100%, 40%, 0.3);
  --border-mentioned: hsla(47, 100%, 50%, 1);
  --background-mentioned-hover: #2f3344;
  --accent-color: var(--accent-yellow);
  --folder-color: #202332d0;
  --folder-color-light: #2f3342d0;
  --scrollbar-thin-thumb: transparent;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: hsla(214, 8%, 60%, 0.8);
  --scrollbar-auto-thumb-hover: hsl(214, 8%, 5t0%, 0.8);
  --scrollbar-auto-track: transparent;
  --scrollbar-auto-scrollbar-color-thumb: var(--scrollbar-auto-thumb);
  --scrollbar-auto-scrollbar-color-track: var(--scrollbar-auto-track);
  --channeltextarea-background: var(--background-secondary);
  --brand-experiment: var(--accent-yellow);
  --brand-experiment-80a: hsla(47, 100%, 50%, 0.7);
  --brand-experiment-600: hsl(47, 100%, 50%);
  --brand-experiment-560: hsl(47, 100%, 50%);
  --brand-experiment-500: hsl(47, 100%, 50%);
  --brand-experiment-400: hsl(47, 80%, 40%);
  --brand-experiment-360: hsl(47, 100%, 50%);
  --brand-experiment-300: hsl(47, 100%, 50%);
  --modal-background: var(--background-primary);
  --modal-footer-background: var(--background-secondary) ;
}

.theme-dark {
  --accent-yellow: hsl(47, 100%, 50%);
  --accent-green: hsl(47, 100%, 50%);
  --button-positive-background: hsl(47, 100%, 50%);
  --button-positive-background-hover: hsl(47, 100%, 50%);
  --button-outline-danger-text: var(--channels-default);
  --header-primary: var(--text-normal);
  --header-secondary: var(--text-muted);
  --text-normal: hsl(229, 18%, 80%);
  --text-muted: hsl(215, 8%, 70%);
  --text-positive: hsl(47, 50, 50%) !important;
  --text-warning: hsl(47, 50, 50%) !important;
  --text-danger: hsl(47, 50, 50%) !important;
  --text-link: hsl(47, 50, 50%) !important;
  --info-positive-background: hsla(47, 100%, 50%, 0.7) !important;
  --info-positive-foreground: var(--text-positive);
  --info-warning-background: hsla(47, 100%, 50%, 0.7) !important;
  --info-warning-foreground: var(--text-warning);
  --info-danger-background: hsla(47, 100%, 50%, 0.7) !important;
  --info-danger-foreground: var(--text-danger);
  --status-positive-background: var(--info-positive-background);
  --status-warning-background: var(--info-warning-background);
  --status-danger-background: var(--info-danger-background);
  --status-positive: #B7FE00;
  --status-warning: #FFC800;
  --status-danger: #FF4800;
  --button-positive-background: var(--status-positive);
  --button-warning-background: var(--status-warning);
  --button-danger-background: var(--status-danger);
  --button-outline-positive-background-hover: var(--status-positive);
  --button-outline-warning-background-hover: var(--status-warning);
  --button-outline-danger-background-hover: var(--status-danger);
  --interactive-normal: hsl(229, 14%, 70%);
  --interactive-hover: hsl(229, 14%, 75%);
  --interactive-active: #fec600;
  --interactive-muted: hsl(215, 8%, 59%);
  --channels-default: hsl(214, 37%, 75%);
  --background-primary: hsl(222, 10%, 12%);
  --background-secondary: hsl(222, 10%, 8%);
  --background-secondary-alt: hsl(222, 10%, 7%);
  --background-tertiary: hsl(222, 10%, 6%);
  --background-accent: hsl(222, 10%, 5%);
  --background-floating: hsl(222, 10%, 4%);
  --background-modifier-hover: #212331c0;
  --background-modifier-active: #282a3680;
  --background-modifier-selected: #24263171;
  --background-modifier-accent: hsl(222, 10%, 22%);
  --background-mentioned: hsla(47, 100%, 40%, 0.3);
  --border-mentioned: hsla(47, 100%, 50%, 1);
  --background-mentioned-hover: #2f3344;
  --accent-color: var(--accent-yellow);
  --folder-color: #202332d0;
  --folder-color-light: #2f3342d0;
  --scrollbar-thin-thumb: transparent;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: hsla(214, 8%, 60%, 0.8);
  --scrollbar-auto-thumb-hover: hsl(214, 8%, 5t0%, 0.8);
  --scrollbar-auto-track: transparent;
  --scrollbar-auto-scrollbar-color-thumb: var(--scrollbar-auto-thumb);
  --scrollbar-auto-scrollbar-color-track: var(--scrollbar-auto-track);
  --channeltextarea-background: var(--background-secondary);
  --brand-experiment: var(--accent-yellow);
  --brand-experiment-80a: hsla(47, 100%, 50%, 0.7);
  --brand-experiment-600: hsl(47, 100%, 50%);
  --brand-experiment-560: hsl(47, 100%, 50%);
  --brand-experiment-500: hsl(47, 100%, 50%);
  --brand-experiment-400: hsl(47, 80%, 40%);
  --brand-experiment-360: hsl(47, 100%, 50%);
  --brand-experiment-300: hsl(47, 100%, 50%);
  --modal-background: var(--background-primary);
  --modal-footer-background: var(--background-secondary) ;
}

:root {
  /* [ --THEME INFO-- ] */
  --current-version: "1.1.1";
}
:root .wordmarkWindows-2dq6rw, :root .wordmark-2u86JB {
  color: var(--accent-color);
}
:root ::selection {
  color: var(--background-primary);
  background-color: var(--accent-color);
}

.lockIcon-3t6Ow0, .isEnabled-20V6lG {
  color: var(--brand-experiment-80a) !important;
}
.lockIcon-3t6Ow0 .desaturate-_Twf3u, .isEnabled-20V6lG .desaturate-_Twf3u {
  color: var(--accent-color) !important;
}

.radioBar-3w9XY- .text-md-medium-2avxhQ {
  color: var(--channels-default);
}
.radioBar-3w9XY- .text-sm-normal-3Zj3Iv {
  color: var(--channels-default);
}

.checked-25WXMf {
  color: var(--accent-color) !important;
  background-color: var(--accent-color) !important;
}
.checked-25WXMf .slider-32CRPX > svg > path {
  fill: var(--background-primary);
}

.speaking-2Crrvt {
  background-color: var(--accent-color) !important;
}

.bar-1Bhnl9 {
  background-color: --brand-experiment-500 !important;
}
.bar-1Bhnl9 .barFill-2Bh7CX {
  background-color: --brand-experiment-400 !important;
}

.markValue-2U_-UG {
  --text-positive: var(--brand-experiment-80a) ;
}

.key-N5VmHN {
  background-color: var(--accent-color);
  box-shadow: inset 0 -4px 0 var(--brand-experiment-400) !important;
  color: var(--background-primary) !important;
}
.key-N5VmHN .bindArrow-EmK4SC > * {
  fill: var(--background-primary) !important;
}

.divider-_0um2u, .separator-2wx7h6 {
  border-color: var(--accent-color);
  outline-color: var(--accent-color);
  background-color: var(--accent-color);
}

.fa-wrench {
  color: var(--accent-color);
}

.powercord-toast {
  --toast-background: var(--background-primary);
  --toast-header: var(--background-tertiary);
  --toast-contents: var(--background-secondary);
}
.powercord-toast .inner {
  border-color: var(--background-accent) !important;
}
.powercord-toast .header {
  color: var(--channels-default) !important;
}

.previewInner-Ry5hd0 .username-3JLfHz {
  color: var(--header-primary);
}

.contents-3ca1mk {
  color: var(--background-primary);
}

.fieldButton-14lHvK {
  background-color: var(--channels-default) !important;
}

.colorLink-1Md3RZ .contents-3ca1mk {
  color: var(--channels-default);
}

.button-f2h6uQ :not(panels-3wFtMD) .contents-3ca1mk {
  color: var(--channels-default);
}

.theme-dark .contents-3ca1mk, .colorLink-1Md3RZ .contents-3ca1mk {
  color: var(--background-primary) !important;
}

.theme-dark .contents-3ca1mk, .button-f2h6uQ .contents-3ca1mk {
  color: var(--background-primary) !important;
}

.lookFilled-yCfaCM .contents-3ca1mk {
  color: var(--background-primary);
}

.lookOutlined-3yKVGo {
  border-color: var(--accent-color) !important;
}
.lookOutlined-3yKVGo .contents-3ca1mk {
  color: var(--channels-default) !important;
}

.select-1Ia3hD, .inputDefault-3FGxgL, .channelTextArea-1VQBuV, .profileBioInput-1CcOUr, .inner-NQg18Y, .bioTextArea-dDGOeC {
  background-color: var(--background-secondary) !important;
}

.colorBrandNew-2-gGsS {
  background-color: var(--accent-color) !important;
}

.removeButton-v6eolJ .contents-3ca1mk {
  color: var(--background-primary);
}

.textBadge-1fdDPJ {
  background-color: var(--accent-color) !important;
  color: var(--background-primary);
}

.wrapper-3kah-n.selected-1Drb7Z > .childWrapper-1j_1ub > .homeIcon-r0w4ny > path {
  color: var(--background-primary);
}

#app-mount #MemberCount {
  background-color: var(--background-primary);
}

.newMessagesBar-1hF-9G .barButtonAlt-TQoCdZ, .newMessagesBar-1hF-9G .span-3lFnWr {
  color: var(--background-primary);
}

.divider-2rZFJK {
  border-color: var(--accent-color);
}
.divider-2rZFJK .content-3spvdd {
  color: var(--accent-color);
}
.divider-2rZFJK .unreadPillCapStroke-1nE1Q8 {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.divider-2rZFJK .unreadPill-3nEWYM {
  background-color: var(--accent-color);
  color: var(--background-primary);
}

.progressBar-1T6LYX {
  background-color: var(--accent-color) !important;
}

.mention {
  color: var(--accent-color);
}

.botTagVerified-2KCPMa, .botText-1fD6Qk {
  color: var(--background-primary);
}

.ownerIcon-255uKo {
  color: var(--accent-color);
}

.attachButtonPlay-1ATmb5 {
  color: var(--interactive-active);
  fill: var(--interactive-active);
}

.scrollableContainer-15eg7h .contents-3ca1mk {
  color: var(--interactive-normal) !important;
}

.iconBadge-3Mmg92 {
  background-color: var(--accent-color);
}

.notice-2HEN-u {
  background-color: var(--accent-color);
  color: var(--background-primary);
}
.notice-2HEN-u .button-1iHNQ2 {
  border-color: var(--background-primary);
  color: var(--background-primary);
}
.notice-2HEN-u .closeIcon-3eoP1e > * {
  fill: var(--background-primary);
}
.notice-2HEN-u .platformIcon-OrI7z3 {
  color: var(--background-primary) !important;
}

.speaking-7QZEkv.border-2Vy6FN, .avatarSpeaking-2pCGrZ, .speaking-3K28iH, .avatarSpeaking-33RRJU {
  box-shadow: inset 0 0 0 2px var(--accent-color), inset 0 0 0 3px black;
}

.focusLock-2tveLW .cancelButton-3QVBfe > .contents-3ca1mk {
  color: var(--channels-default) !important;
}
.focusLock-2tveLW .closeIcon-11LhXr {
  color: var(--channels-default);
}

.qualityIndicatorBadge-2Am2OE .qualityIndicator-39wQDy > * {
  color: var(--background-primary);
}

.userPopoutInner-PA9zkU .username-3JLfHz {
  color: var(--header-primary);
}

.jumpButton-1ZwI_j, .button-cfOvv- {
  color: var(--background-primary);
  background-color: hsla(var(--accent-color));
}

.lookFilled-yCfaCMy {
  background-color: var(--accent-color) !important;
}

.item-1OdjEX.colorDefault-CDqZdO:not(.colorDanger-3n-KnP).focused-3qFvc8 {
  color: var(--background-primary);
}

.theme-dark .role-2TIOKu {
  background-color: rgba(38, 38, 38, 0.4);
}

.theme-light .role-2TIOKu {
  background-color: rgba(199, 199, 199, 0.4);
}

.theme-dark .textarea-_59yqs {
  --background-tertiary: rgba($color: #000000, $alpha: 0.8);
  background-color: rgba(0, 0, 0, 0.3);
}

.theme-light .textarea-_59yqs {
  --background-tertiary: rgba($color: #000000, $alpha: 0.8);
  background-color: rgba(199, 199, 199, 0.4);
}

.iconVisibility-vptxma.modeUnread-3Cxepe .channelName-3KPsGw {
  color: var(--channels-default);
}

.contents-3ca1mk .addButtonIcon-3rJeaD {
  color: var(--channels-default) !important;
}

.navList-YSb9UB .contents-3ca1mk {
  color: var(--interactive-normal) !important;
}

.container-YkUktl .strikethrough-2Kl6HF {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.panels-3wFtMD .contents-3ca1mk {
  color: var(--interactive-normal) !important;
}
.panels-3wFtMD .button-f2h6uQ {
  background-color: var(--background-secondary-alt);
}

.layer-2aCOJ3 .username-3JLfHz {
  color: var(--header-primary);
}

.ping-2IpLcU {
  color: var(--accent-color);
}

.tooltip-14MtrL {
  background-color: var(--accent-color) !important;
}
.tooltip-14MtrL .tooltipPointer-3L49xb {
  fill: var(--accent-color);
  border-top-color: var(--accent-color) !important;
}
.tooltip-14MtrL .tooltipContent-Nejnvh {
  color: var(--background-primary);
}

.layer-2aCOJ3 .tooltipPointer-3L49xb {
  fill: var(--accent-color);
  border-top-color: var(--accent-color) !important;
}
.layer-2aCOJ3 .tooltipContent-Nejnvh .row-x_t5Ya > * {
  color: var(--background-primary) !important;
}

.buttonActive-Uc1jHx {
  background-color: var(--accent-color) !important;
}
.buttonActive-Uc1jHx .buttonContents-y1l-R8 {
  color: var(--background-primary) !important;
}

/*# sourceMappingURL=Twist.theme.css.map */
