.contents-3ca1mk{
    color: var(--background-primary);
}
.fieldButton-14lHvK{
    background-color: var(--channels-default) !important;
}
.colorLink-1Md3RZ{
    .contents-3ca1mk{
        color: var(--channels-default);
    }
}
.button-f2h6uQ :not(panels-3wFtMD){
    .contents-3ca1mk{
        color: var(--channels-default);
    }
}
.theme-dark, .colorLink-1Md3RZ{
    .contents-3ca1mk{
        color: var(--background-primary) !important;
    }
}
.theme-dark, .button-f2h6uQ{
    .contents-3ca1mk{
        color: var(--background-primary) !important;
    }
}
.lookFilled-yCfaCM{
    .contents-3ca1mk{
        color: var(--background-primary);
    }
}
.lookOutlined-3yKVGo{
    border-color: var(--accent-color) !important;
    .contents-3ca1mk{
        color: var(--channels-default) !important;
    }
}
.select-1Ia3hD, .inputDefault-3FGxgL, .channelTextArea-1VQBuV, .profileBioInput-1CcOUr, .inner-NQg18Y, .bioTextArea-dDGOeC{
    background-color: var(--background-secondary) !important;
}
.colorBrandNew-2-gGsS{
    background-color: var(--accent-color) !important;
}
.removeButton-v6eolJ{
    .contents-3ca1mk{
        color: var(--background-primary);
    }
}
.textBadge-1fdDPJ{
    background-color: var(--accent-color) !important;
    color: var(--background-primary);
}
