/**
 * @name Twist
 * @version 1.0.4
 * @description Discord theme based on PBTFans Twist Keycaps.
 * @author Atlantic™#0001
 * @website https://github.com/atlanticDragon888/Twist
 * @source https://github.com/atlanticDragon888/Twist/blob/main/BetterDiscord/Theme.css
 * @authorId 186030725147918337
*/

@import url(https://atlanticdragon888.github.io/Twist/Theme.css);

/* Uncomment the lines to change the theme's default colors */

/* ---- Discord Variables ---- */
/* .theme-light{
    --accent-yellow: #ffc800;
    --accent-green: hsl(47, 100%, 50%);
    --button-positive-background: hsl(47, 100%, 50%);
    --button-positive-background-hover: hsl(47, 100%, 50%);
    --button-outline-danger-text: var(--channels-default);
    --header-primary: var(--text-normal);
    --header-secondary: var(--text-muted);
    --text-normal: hsl(229, 18%, 80%);
    --text-muted: hsl(215, 8%, 70%);
    --text-positive: hsl(47, 50, 50%) !important;
    --text-warning: hsl(47, 50, 50%) !important;
    --text-danger: hsl(47, 50, 50%) !important;
    --text-link: hsl(47, 50, 50%) !important;
    --info-positive-background: hsla(47, 100%, 50%, 0.7) !important;
    --info-positive-foreground: var(--text-positive);
    --info-warning-background: hsla(47, 100%, 50%, 0.7) !important;
    --info-warning-foreground: var(--text-warning);
    --info-danger-background: hsla(47, 100%, 50%, 0.7) !important;
    --info-danger-foreground: var(--text-danger);
    --status-positive-background: var(--info-positive-background);
    --status-warning-background: var(--info-warning-background);
    --status-danger-background: var(--info-danger-background);
    --status-positive: #B7FE00;
    --status-warning: #FFC800;
    --status-danger: #FF4800;
    --button-positive-background: var(--status-positive);
    --button-warning-background: var(--status-warning);
    --button-danger-background: var(--status-danger);
    --button-outline-positive-background-hover: var(--status-positive);
    --button-outline-warning-background-hover: var(--status-warning);
    --button-outline-danger-background-hover: var(--status-danger);
    --interactive-normal: hsl(229, 14%, 70%);
    --interactive-hover: hsl(229, 14%, 75%);
    --interactive-active: #fec600;
    --interactive-muted: hsl(215, 8%, 59%);
    --channels-default: hsl(214, 37%, 75%);
    --background-primary: hsl(222, 10%, 30%);
    --background-secondary: hsl(222, 10%, 26%);
    --background-secondary-alt: hsl(222, 10%, 24%);
    --background-tertiary: hsl(222, 10%, 22%);
    --background-accent: hsl(222, 10%, 20%);
    --background-floating: hsl(222, 10%, 18%);
    --background-modifier-hover: #212331c0;
    --background-modifier-active: #282a3680;
    --background-modifier-selected: #24263171;
    --background-modifier-accent: hsl(222, 10%, 22%);
    --background-mentioned: hsla(47, 100%, 40%, 0.3);
    --border-mentioned: hsla(47, 100%, 50%, 1);
    --background-mentioned-hover: #2f3344;
    --accent-color: var(--accent-yellow);
    --folder-color: #202332d0;
    --folder-color-light: #2f3342d0;
    --scrollbar-thin-thumb: transparent;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: hsla(214, 8%, 60%, 0.8);
    --scrollbar-auto-thumb-hover: hsl(214, 8%, 5t0%, 0.8);
    --scrollbar-auto-track: transparent;
    --scrollbar-auto-scrollbar-color-thumb: var(--scrollbar-auto-thumb);
    --scrollbar-auto-scrollbar-color-track: var(--scrollbar-auto-track);
    --channeltextarea-background: var(--background-secondary);
    --brand-experiment: var(--accent-yellow);
    --brand-experiment-80a: hsla(47, 100%, 50%, 0.7);
    --brand-experiment-600: hsl(47, 100%, 50%);
    --brand-experiment-560: hsl(47, 100%, 50%);
    --brand-experiment-500: hsl(47, 100%, 50%);
    --brand-experiment-400: hsl(47, 80%, 40%);
    --brand-experiment-360: hsl(47, 100%, 50%);
    --brand-experiment-300: hsl(47, 100%, 50%);
    --modal-background: var(--background-primary);
    --modal-footer-background: var(--background-secondary)
  }
  
  .theme-dark{
    --accent-yellow: hsl(47, 100%, 50%);
    --accent-green: hsl(47, 100%, 50%);
    --button-positive-background: hsl(47, 100%, 50%);
    --button-positive-background-hover: hsl(47, 100%, 50%);
    --button-outline-danger-text: var(--channels-default);
    --header-primary: var(--text-normal);
    --header-secondary: var(--text-muted);
    --text-normal: hsl(229, 18%, 80%);
    --text-muted: hsl(215, 8%, 70%);
    --text-positive: hsl(47, 50, 50%) !important;
    --text-warning: hsl(47, 50, 50%) !important;
    --text-danger: hsl(47, 50, 50%) !important;
    --text-link: hsl(47, 50, 50%) !important;
    --info-positive-background: hsla(47, 100%, 50%, 0.7) !important;
    --info-positive-foreground: var(--text-positive);
    --info-warning-background: hsla(47, 100%, 50%, 0.7) !important;
    --info-warning-foreground: var(--text-warning);
    --info-danger-background: hsla(47, 100%, 50%, 0.7) !important;
    --info-danger-foreground: var(--text-danger);
    --status-positive-background: var(--info-positive-background);
    --status-warning-background: var(--info-warning-background);
    --status-danger-background: var(--info-danger-background);
    --status-positive: #B7FE00;
    --status-warning: #FFC800;
    --status-danger: #FF4800;
    --button-positive-background: var(--status-positive);
    --button-warning-background: var(--status-warning);
    --button-danger-background: var(--status-danger);
    --button-outline-positive-background-hover: var(--status-positive);
    --button-outline-warning-background-hover: var(--status-warning);
    --button-outline-danger-background-hover: var(--status-danger);
    --interactive-normal: hsl(229, 14%, 70%);
    --interactive-hover: hsl(229, 14%, 75%);
    --interactive-active: #fec600;
    --interactive-muted: hsl(215, 8%, 59%);
    --channels-default: hsl(214, 37%, 75%);
    --background-primary: hsl(222, 10%, 12%);
    --background-secondary: hsl(222, 10%, 8%);
    --background-secondary-alt: hsl(222, 10%, 7%);
    --background-tertiary: hsl(222, 10%, 6%);
    --background-accent: hsl(222, 10%, 5%);
    --background-floating: hsl(222, 10%, 4%);
    --background-modifier-hover: #212331c0;
    --background-modifier-active: #282a3680;
    --background-modifier-selected: #24263171;
    --background-modifier-accent: hsl(222, 10%, 22%);
    --background-mentioned: hsla(47, 100%, 40%, 0.3);
    --border-mentioned: hsla(47, 100%, 50%, 1);
    --background-mentioned-hover: #2f3344;
    --accent-color: var(--accent-yellow);
    --folder-color: #202332d0;
    --folder-color-light: #2f3342d0;
    --scrollbar-thin-thumb: transparent;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: hsla(214, 8%, 60%, 0.8);
    --scrollbar-auto-thumb-hover: hsl(214, 8%, 5t0%, 0.8);
    --scrollbar-auto-track: transparent;
    --scrollbar-auto-scrollbar-color-thumb: var(--scrollbar-auto-thumb);
    --scrollbar-auto-scrollbar-color-track: var(--scrollbar-auto-track);
    --channeltextarea-background: var(--background-secondary);
    --brand-experiment: var(--accent-yellow);
    --brand-experiment-80a: hsla(47, 100%, 50%, 0.7);
    --brand-experiment-600: hsl(47, 100%, 50%);
    --brand-experiment-560: hsl(47, 100%, 50%);
    --brand-experiment-500: hsl(47, 100%, 50%);
    --brand-experiment-400: hsl(47, 80%, 40%);
    --brand-experiment-360: hsl(47, 100%, 50%);
    --brand-experiment-300: hsl(47, 100%, 50%);
    --modal-background: var(--background-primary);
    --modal-footer-background: var(--background-secondary)
  } */