.iconVisibility-vptxma.modeUnread-3Cxepe .channelName-3KPsGw{
    color: var(--channels-default)
}
.contents-3ca1mk{
  .addButtonIcon-3rJeaD{
    color: var(--channels-default) !important;
  }
}
.navList-YSb9UB{
  .contents-3ca1mk{
    color: var(--interactive-normal) !important;
  }
}
