.container-YkUktl{
    .strikethrough-2Kl6HF{
        color: var(--accent-color);
        fill: var(--accent-color);
    }
}
.panels-3wFtMD{
    .contents-3ca1mk{
        color: var(--interactive-normal) !important;
    }
    .button-f2h6uQ{
        background-color: var(--background-secondary-alt);
    }
}
.layer-2aCOJ3{
    .username-3JLfHz{
        color: var(--header-primary);
    }
}
