.container-YkUktl{
    .strikethrough-2Kl6HF{
        color: var(--accent-color);
        fill: var(--accent-color);
    }
}
.panels-3wFtMD{
    .contents-3ca1mk{
        color: var(--interactive-normal) !important;
    }
    .button-f2h6uQ{
        background-color: var(--background-secondary-alt);
    }
}
.layer-2aCOJ3{
    .username-3JLfHz{
        color: var(--header-primary);
    }
}
.ping-2IpLcU{
    color: var(--accent-color);
}
.tooltip-14MtrL{
    background-color: var(--accent-color) !important;
    .tooltipPointer-3L49xb{
        fill: var(--accent-color);
        border-top-color: var(--accent-color) !important;
    }
    .tooltipContent-Nejnvh{
        color: var(--background-primary);
    }
}
.layer-2aCOJ3{
    .tooltipPointer-3L49xb{
        fill: var(--accent-color);
        border-top-color: var(--accent-color) !important;
    }
    .tooltipContent-Nejnvh{
        .row-x_t5Ya > *{
            color: var(--background-primary) !important;
        }
    }
}
.buttonActive-Uc1jHx{
    background-color: var(--accent-color) !important;
    .buttonContents-y1l-R8{
        color: var(--background-primary) !important;
    }
}