.speaking-7QZEkv.border-2Vy6FN, .avatarSpeaking-2pCGrZ, .speaking-3K28iH, .avatarSpeaking-33RRJU{
    box-shadow: inset 0 0 0 2px var(--accent-color),inset 0 0 0 3px black;
}
.focusLock-2tveLW{
    .cancelButton-3QVBfe > .contents-3ca1mk{
        color: var(--channels-default) !important;
    }
    .closeIcon-11LhXr{
        color: var(--channels-default);
    }
}
.qualityIndicatorBadge-2Am2OE{
    .qualityIndicator-39wQDy > *{
        color: var(--background-primary);
    }
}