.newMessagesBar-1hF-9G{
    .barButtonAlt-TQoCdZ, .span-3lFnWr{
        color: var(--background-primary);
    }
}
.divider-2rZFJK{
    border-color: var(--accent-color);
    .content-3spvdd{
        color: var(--accent-color);
    }
    .unreadPillCapStroke-1nE1Q8{
        color: var(--accent-color);
        fill: var(--accent-color);
    }
    .unreadPill-3nEWYM{
        background-color: var(--accent-color);
        color: var(--background-primary);
    }
}
.progressBar-1T6LYX{
    background-color: var(--accent-color) !important;
}
.mention{
    color: var(--accent-color);
}