.newMessagesBar-1hF-9G{
    .barButtonAlt-TQoCdZ, .span-3lFnWr{
        color: var(--background-primary);
    }
}
.divider-2rZFJK{
    border-color: var(--accent-color);
    .content-3spvdd{
        color: var(--accent-color);
    }
    .unreadPillCapStroke-1nE1Q8{
        color: var(--accent-color);
        fill: var(--accent-color);
    }
    .unreadPill-3nEWYM{
        background-color: var(--accent-color);
        color: var(--background-primary);
    }
}
.progressBar-1T6LYX{
    background-color: var(--accent-color) !important;
}
.mention{
    color: var(--accent-color);
}
.content-1xP6ZE{
    filter: brightness(0) saturate(100%) invert(5%) sepia(4%) saturate(3508%) hue-rotate(193deg) brightness(94%) contrast(85%);
}
.gifFavoriteButton-3ZomyF > .icon-1m_PLf{
    color: var(--accent-color);
}