.botTagVerified-2KCPMa, .botText-1fD6Qk{
    color: var(--background-primary);
}
.ownerIcon-255uKo{
    color: var(--accent-color);
}
.premiumIcon-3PLiGh.icon-1dGlZy > path{
    fill: var(--accent-color);
}