.attachButtonPlay-1ATmb5{
    color: var(--interactive-active);
    fill: var(--interactive-active);
}
.scrollableContainer-15eg7h{
    .contents-3ca1mk{
        color: var(--interactive-normal) !important;
    }
}