.iconBadge-3Mmg92{
    background-color: var(--accent-color);
}
.notice-2HEN-u{
    .button-1iHNQ2{
        border-color: var(--background-primary);
        color: var(--background-primary);
    }
    background-color: var(--accent-color);
    .closeIcon-3eoP1e > *{
        fill: var(--background-primary);
    }
    color: var(--background-primary);
    .platformIcon-OrI7z3{
        color: var(--background-primary) !important;
    }
}