.userPopoutInner-PA9zkU{
    .username-3JLfHz{
        color: var(--header-primary);
    }
}
.jumpButton-1ZwI_j, .button-cfOvv- {
    color: var(--background-primary);
    background-color: hsla(var(--accent-color));
}
.lookFilled-yCfaCMy{
    background-color: var(--accent-color) !important;
}
.item-1OdjEX.colorDefault-CDqZdO:not(.colorDanger-3n-KnP).focused-3qFvc8{
    color: var(--background-primary);
}
.text-xs-normal-3SiVjE.muteText-13RgwP{    
    --text-muted: var(--interactive-muted);
}
.text-sm-normal-3Zj3Iv.clickCTA-1bk0UN{
    color: var(--interactive-muted);
}
.inner-rBP-MS{
    color: var(--background-primary) !important;
    .title-3ChJ_v, .instructions-272j2A{
        color: var(--background-primary) !important;
    }
    .title-3ChJ_v > strong{
        color: var(--background-primary) !important;
    }
}
.inner-rBP-MS > *{
    color: var(--background-primary) !important;
}
.group-1_ptLP{
    .selectorTextSelected-2zup8I{
        color: var(--background-primary);
    }
}
.mainContent-1ZOoSF > .iconContainer-11h7fa > svg{
    color: var(--status-positive);
}