.userPopoutInner-PA9zkU{
    .username-3JLfHz{
        color: var(--header-primary);
    }
}
.jumpButton-1ZwI_j, .button-cfOvv- {
    color: var(--background-primary);
    background-color: hsla(var(--accent-color));
}
.focused-3qFvc8{
    background-color: (--accent-color);
}